.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.skoda{
width: 207px;
color: #F1F1F1;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 19px;
}
.tag{
color: #F1F1F1;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 7.5px;
width: 207px;
}
.address{
color: #F1F1F1;
text-align: right;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.links{
color: #191B1D;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-comp{
  color: #F1F1F1;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 5.94px;
}
.para{
  width: 458px;
}
.map{
width: 100%;
height: 125px;
flex-shrink: 0;
background: #C4C4C4;
}
.img-tile{
background: #191B1D;



}
.heading{
  color: #F1F1F1;
font-family: Libre Baskerville;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.img-para{
  color: #F1F1F1;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 170.187%; /* 30.634px */
}
.icon-head{
  color: var(--color-gray-1, #3A3A3A);

  /* Body / Large - Semibold */
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.icon-tag{
color: var(--color-gray-3, #898989);

/* Body / Normal - Medium */
font-family: Gilroy;
font-size: 13px;
font-style: normal;
font-weight: 500;
}
.idg{
  color: #191B1D;
font-family: Libre Baskerville;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.lorem{
color: #7A7A7A;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
}
.contnr{
  position: relative;
}
.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: rgba(25, 27, 29, 0.80);
  width: 160px;
height: 160px;
padding: 13px;
}
.bottom-left{
  position: absolute;
  bottom: 0px;
  left: 0px;
  
  width: 160px;
height: 160px;

}
.best{
  color: #F1F1F1;
font-family: Libre Baskerville;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
}
.best-para{
  color: #F1F1F1;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 150.188%; /* 27.034px */
margin-top: 15px;
}
.imagination{
color: #191B1D;
font-family: Libre Baskerville;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.y-img{
  width: 160px;
}
.dot-matter{
  color: #7A7A7A;
font-family: Roboto;
font-size: 16px;
margin-left: 5px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.for-people{
  color: #191B1D;
text-align: center;
font-family: Libre Baskerville;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

flex-shrink: 0;
}
.our-products{
  color: #000;

font-family: Libre Baskerville;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.share{
color: var(--color-gray-2, #616161);
text-align: center;
font-family: ABeeZee;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 45px */
}
.hash{
  color: var(--color-gray-1, #3A3A3A);
text-align: center;
font-family: ABeeZee;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 48px */
}
.furn{
  color: #F1F1F1;
font-family: Libre Baskerville;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.furn-para{
  color: #F1F1F1;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 114%; /* 27px */
}
.outlets{
  color: var(--color-gray-1, #3A3A3A);
text-align: center;
font-family: ABeeZee;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 48px */
}
.num{
  color: #F1F1F1;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.num-line{
  color: #F1F1F1;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 978px) {
  .outl{
  margin: 0px;
  padding: 0px;
}; }
.about-us{
color: #F1F1F1;
font-family: Libre Baskerville;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about{
  background-color: black;
}
.about-row{
  background-image: url('/src/assets/images/image16.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.yellow{
color: #E7C437;
font-family: Libre Baskerville;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.b-yellow{
  color: #191B1D;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.p-yellow{
  color: #7A7A7A;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
}
.we{
color: #191B1D;
text-align: center;
font-family: Libre Baskerville;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.p-title{
  color: var(--gray-scale-gray-900, #1A1A1A);

/* Heading 04/Heading 04 — 400 */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 43.2px */
}
.stock{
  color: var(--branding-success-dark, #2C742F);

/* Body Small/Body Small, 400 */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}
.feedback{
  color: #000;
text-align: center;
font-family: Roboto;
font-size: 96px;
font-style: normal;
font-weight: 500;
line-height: 320.188%; /* 307.38px */
letter-spacing: 12px;
}
.our{
  color: #F1F1F1;
font-family: Libre Baskerville;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}